{% extends 'base.html' %}

{% load static %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/components/event_item.css' %}">
    {{ block.super }}
{% endblock %}
{% block title %}Lista de Rodas e Eventos de Capoeira | Onde Tem Roda{% endblock %}
{% block body %}
    <div class="events__main">
        <div class="container text-center my-5">
            <h1 class="event__title text-light">Eventos e Rodas</h1>
        </div>
        <div class="py-5 px-5 row">
        {% for event in events %}
            {% include "events/includes/components/event_item.html" %}
        {% endfor %}
        </div>
    </div>
{% endblock %}