{% load static %}
<!DOCTYPE html>
<html>
    <head>
        {% block head %}
            <title>{% block title %}{% endblock %}</title>
            <meta name='description' content='{% block description%}{% endblock%}'>
            <link href="{% static 'css/fonts.css' %}" rel="stylesheet" media="screen">
            <link href="{% static 'css/index.css' %}" rel="stylesheet" media="screen">
            <link href="{% static 'vendor/css/bootstrap-grid.min.css'%}" rel="stylesheet" media="screen">
            <link href="{% static 'vendor/css/bootstrap-reboot.min.css'%}" rel="stylesheet" media="screen">
            <link href="{% static 'vendor/css/bootstrap.min.css'%}" rel="stylesheet" media="screen">
        {% endblock %}
    </head>
    <body>
    {% block body %}{% endblock %}
    </body>
</html>