{% extends 'base.html' %}

{% load static %}

{% block title %} Onde Tem Roda: Rodas e Eventos de Capoeira{% endblock %}
{% block description %}Encontre rodas e eventos de capoeira com agilidade e facilidade.{% endblock %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/components/index.css' %}">
    </script>
    {{ block.super }}
{% endblock %}
{% block body %}
    <div class="container text-center py-5 text-light my-5">
        <h1 class='home_title mb-3'>Onde Tem Roda</h1>
            <div class="home_description__container text-center mx-auto">
                <p class='home_description'>
                Bem-vindo ao site do Onde tem Roda. Um projeto que facilitará a sua busca por rodas e eventos de capoeira
                Estamos construindo um site para que você possa encontrar rodas e eventos de capoeira com facilidade.
                </p>
            </div>
        <a class='home__events-link text-info' href="/events">Lista de Eventos</a>
    </div>
{% endblock %}
