{% extends 'base.html' %}

{% block title %} Onde Tem Roda: Rodas e Eventos de Capoeira{% endblock %}
{% block description %}Encontre rodas e eventos de capoeira com agilidade e facilidade.{% endblock %}
{% block body %}
    <h1>Onde Tem Roda</h1>
    <p>Bem-vindo ao site do Onde tem Roda. Um projeto que facilitará a sua busca por rodas e eventos de capoeira</p>

    <p>Estamos construindo um site para que você possa encontrar rodas e eventos de capoeira com facilidade.</p>
    <p>Aguarde...</p>
{% endblock %}