{% load static %}
<a href="/events/{{ event.ID }}">
    <div class="event__container rounded shadow mb-3 px-1 py-1 bg-light row flex-nowrap flex-row ">
        <img src="{% static 'ondetemroda/img/placeholder240x180.png' %}" class="event__image mr-1"/>
        <div class="event__info flex-grow-1">
            <p class="event__name mb-1">{{ event.NomeEvento }}</p>
            <p class="event-info__text"><span class="event-info_label">Endereço:</span> {{event.Endereco}}</p>
            <p class="event-info__text"><span class="event-info_label">Data:</span> {{ event.EventDate }}</p>
            <p class="event-info__text"><span class="event-info_label">Grupo:</span> {{event.Grupo}}</p>
            <p class="event-info__text"><span class="event-info_label">Responsável:</span> {{event.Responsavel}}</p>
        </div>
    </div>
</a>
