.event__title {
    font-family: 'Roboto Black', Arial, Helvetica, sans-serif;
    font-size: 36px;
}

.event__container {
    display: flex;
    margin-bottom: 16px;
}

.event__image {
    margin-right: 16px;
}

.event__name {
    font-family: 'Roboto Bold', Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: bold;
}

.event-info__text {
    font-family: 'Roboto Regular', Arial, Helvetica, sans-serif;
    line-height: 20px;
    margin-bottom: 0.5rem;
}
.event-info_label {
    font-family: 'Roboto Bold', Arial, Helvetica, sans-serif;
}